<div class="row">
    <h1>Cup Of Joe</h1>
    <form action="/waiters/{{username}}" method="POST">
        <div class="col-12">
            <div class="wait">
                <span>
                    <div class="waiter" name="waiters">{{username}}</div>
                    <input type="hidden" name="username" value="{{username}}">
                </span>
            </div>
        </div>
        <div class="col-12">
            <div class='days'>

                {{#each weekdays}}
                <li class="day">
                   
                    <input type="checkbox" name="weekday" class="day" value="{{weekdays}}"> {{weekdays}}
                      <div class="counter">{{counter}}</div>
                </li>
                {{/each}}
                 <input type="submit" name="submitdays" class="clicked" value="Submit">

            </div>
        </div>
</div>
</form>


<div class="col-12">
    <form action="/reset" method="POST">
        <input type="reset" name="resetdays" class="clicked" value="Reset Days">
    </form>
</div>
</div>